<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<link rel="stylesheet" href="{% static 'estilo.css' %}">
	</head>
	<body>
		<main>
			<section>
                <h1>Lista de usuarios</h1>
				<ul>
					<li>id_usuario, grupo, grado, num_lista</li>
					{% for i in data%}
					<li>
						{{i.id_usuario}} : {{i.grupo}} : {{i.grado}} : {{i.num_lista}}
					</li>
					{% endfor%}
				</ul>
            </section>
		</main>
	</body>
</html>

<html>
    <head>

    </head>
    <body>
    
	
    </body>
</html>