<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<link rel="stylesheet" href="{% static 'estilo.css' %}">
	</head>
	<body>
		<main>
			<section>
                <form action="procesamiento" method="POST">
                    {% csrf_token %}
                    <label for="nombre">Dame tu nombre</label>
                    <input type="text" name="nombre" />
                    <input type="submit" />
                </form>
                <a href="https://github.com/a01026512/tareacalc" target="_blank">Github</a>
            </section>
		</main>
	</body>
</html>